.btn {
    background-color: white;
    color: #222;
    padding: 0.7em 1.2em;
    text-decoration: none;
    font-weight: bold;
    border: .1em solid black;
    border-radius: 5px;
}

.btn:hover {
    border: .1em solid #e61818;
    color: #e61818;
}