.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control ::placeholder {
    color: black;
}

.form_control input {
    padding: .7em;
    border: .1em solid black;
    border-radius: 5px;
}